@tailwind base;
@tailwind components;
@tailwind utilities;


.active{
    border-bottom: 2px solid white;
}

::-webkit-scrollbar{
    overflow-y: hidden;
}

@keyframes bounce {
    0%, 100% {
      transform: translateY(0); 
    }
    50% {
      transform: translateY(-10px); 
    }
  }
  
  .arrow-container:hover .arrow {
    animation: bounce 0.5s infinite; 
  }
  

@font-face {
    font-family: JockeyOne;
    src: url("./assets/fonts/Jockey_One/JockeyOne-Regular.ttf");
}

@font-face {
    font-family: Fredoka;
    src: url("./assets/fonts/Fredoka/Fredoka.ttf");
}